<ng-container *ngrxLet="IsLoading$ | async as loading">
  <div nz-flex nzVertical nzAlign="flex-start" nzJustify="center" [nzGap]="50">
    <nz-input-group nzSearch [nzAddOnAfter]="searchButton" nzSize="large">
      <input
        id="search-input"
        nz-input
        [(ngModel)]="SearchText"
        placeholder="Search for movies, tv shows, animes, video games and etc..."
        (keyup.enter)="OnSearch()"
        [disabled]="!!loading"
      />
    </nz-input-group>

    <app-list-items />
  </div>

  <ng-template #searchButton>
    <button
      id="search-button"
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="OnSearch()"
      [disabled]="loading"
    >
      <fa-icon [icon]="faMagnifyingGlass" />
    </button>
  </ng-template>
</ng-container>
